html{
    height: 100%;   
}

body{
    margin: 0 auto;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p, a{ font-family: 'Happy Monkey'; padding: 20px; line-height: 0.5em;}

a{text-decoration: none;}

/***TOP SECTION***/
.top{display: block; background-color: rgb(89, 186, 183); width: 100%; position: absolute; height: 100vh}
.name{text-align: center; font-weight: bold; font-size: 50px; color: white; padding-top: 200px;}
.byline{text-align: center; font-weight: bold; font-size: 25px; color:white}
.arrowdown{width: 100px; height: 70px; background-color: rgb(50, 50, 50); display: block; position: absolute; bottom: 0px; right: 5%; text-align: center; padding: 10px;}
#arrow{color: white; font-size: 50px; font-family: 'Happy Monkey'; font-weight: bold; animation: bob 2s linear infinite; position: relative; top: 1px; display: inline-block;}

/***NAVIGATION BAR***/
.navigation{
    width: 30px;
    height: 150px;
    background-color: orange;
    position: fixed;
}



@keyframes bob{
    0%{
        padding-top: 15px;
    }
    50%{
        padding-top: 25px;
    }
    100%{
        padding-top: 15px;
    }
}
